env:
   global:
     - CONAN_REFERENCE: "dlib/19.16.0@omaralvarez/stable"
     - CONAN_USERNAME: "omaralvarez"
     - CONAN_LOGIN_USERNAME: "omaralvarez"
     - CONAN_CHANNEL: "testing"
     - CONAN_UPLOAD: "https://api.bintray.com/conan/omaralvarez/public-conan"
     - UPLOAD_URL: "https://api.bintray.com/conan/omaralvarez/public-conan"
    
linux: &linux
   os: linux
   dist: xenial
   sudo: required
   language: python
   python: "3.7"
   services:
     - docker
osx: &osx
   os: osx
   language: generic
matrix:
   include:
      - <<: *linux
        env: CONAN_GCC_VERSIONS=7 CONAN_DOCKER_IMAGE=lasote/conangcc7

      - <<: *osx
        osx_image: xcode9.4
        env: CONAN_APPLE_CLANG_VERSIONS=9.1

install:
  - chmod +x .ci/install.sh
  - ./.ci/install.sh

script:
  - chmod +x .ci/run.sh
  - ./.ci/run.sh
